<div class="flex flex-col w-full md:w-[545px] bg-paper border-x border-black-500 min-h-[100vh] py-[144px] font-sans px-[24px] md:px-[55px]">
  <h1 class="mt-20 text-7xl text-primary font-bold mb-4">{{ section.settings.controller | default: table_name | capitalize }}</h1>
  <div class="mb-4">Lorem lipsum</div>
  <a href="/admin/{{ section.settings.controller }}/create"
  class="w-full transition duration-500 w-full rounded-lg px-3 py-2 uppercase text-base leading-8 font-sans text-white bg-gray-700 hover:bg-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">New {{ section.settings.controller }}</a>
</div>