<div class="flex flex-col w-full md:w-[545px] bg-paper border-x border-black-500 min-h-[100vh] py-[144px] font-sans px-[24px] md:px-[55px]">
  <h1 class="mt-20 text-7xl text-primary font-serif mb-4">Tags</h1>
  <div class="my-4">Click the button below to create new {{ "tag" | pluralize : 1 }}</div>
  <div class="my-4">
    <a href="/admin/tags/new"
       class="inline-block transition duration-500 rounded-lg px-4 py-2 uppercase text-base leading-8 font-sans text-white bg-primary hover:bg-gray-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >New Tag</a>
  </div>
</div>