<div class="flex flex-row text-sm">
    <label class="inline text-nowrap opacity-40" for="slug">https://{{ request.host }}/</label>
    <input form="main-form" class="border-0 p-0 bg-transparent w-full text-sm leading-none" type="text" name=":slug" value="{{ item.slug }}" id="slug" placeholder="slug" pattern="[a-z0-9-]+" required/>
    <!--click to copy to clipboard -->
    <span class="text-xs select-none cursor-pointer text-nowrap flex items-center" onclick="copySlug(`https://{{ landing | default: request.host }}/${document.getElementById('slug').value}`)"><i class="fa-sharp fa-regular fa-copy me-1"></i> copy</span>
</div>