<label for="field-{{ selector }}"
       class="bg-black px-2 py-0.5 uppercase text-2xs hidden group-hover:block absolute select-none -left-2 -top-3 rounded"
>{% if icon != blank %}<i class="far fa-{{ icon }} me-1"></i>{% endif %}{{ label }}</label>