<div class="container mx-auto px-4 flex flex-row bg-gray-400 rounded-lg text-white py-4 mb-3">
  <div class="w-9/12 pe-4">
    <input form="main-form" class="inline-edit text-4xl w-full" type="text" placeholder="{{ label }}" name=":name" value="{{ item.name | default: "Untitled Tag" }}" required>
  </div>
</div>
